.login{
    background-image: url(../../../images/login-bg.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.start{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}