.user-and-removed{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-left: 2rem;
    gap: 2rem;
    margin-top: 2rem;
}
.display-cards-user{
    width: 45%;
    text-align: center;
    border: 4px dotted black;
    padding: 2rem;
}
.display-cards-removed{
    width: 45%;
    text-align: center;
    text-align: center;
    border: 4px dotted black;
    padding: 2rem;
}
.display-cards-continer {
    text-align: center;
    border: 4px dotted black;
    padding: 2rem;
    width: 90%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.display-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-left: 0rem;
}

.cards-head {
    display: inline-block;
    width: max-content;
    background-color: black;
    color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    border: 2px solid white;
    font-size: 1rem;
    margin-bottom: 1rem;
    
}
.logout-wrapper{
    width: 90%;
    text-align: center;
}
.logout{
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
    background-color: grey;
    color: black;
    font-size: 1.5rem;
    border: 2px solid white;
}


@media (max-width: 1300px) {
    .cards-head {
        padding: 0.75rem;
        border: 2px solid white;
        font-size: 1rem;
        margin-bottom: 0.75rem;  
    }
  }

  @media (max-width: 500px) {
    .logout-wrapper{
        width: 90%;
    }
  .logout{
    font-size: 0.75rem;
  }
    .display-cards{
        width: 100%;
        flex-wrap: wrap;
    }
    .user-and-removed{
    flex-direction: column;
    }
    .display-cards-user{
        width: 90%;
    }
    .display-cards-removed{
        width: 90%;
    }
  

  }